@import '../../asset/scss/variables.scss';
.sidenav {
    position: fixed;
    left:-250px;
    width: 250px;
    height: 100%;
    background: $primary;
    transition: all .5s ease;

    header {
        // font-size: 22px;
        color: white;
        text-align: center;
        line-height: 50px;
        background: #063146;
        user-select: none;
    }

    ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 50px;
        font-size: 14px;
        color: white;
        padding-left: 40px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: 1px solid black;
        transition: .4s;
    }

    ul li:hover a {
        padding-left: 50px;
    }
}

#check {
    display: none;
}
#btn, #cancel {
    position: absolute;
    cursor: pointer;
    background: $primary;
    border-radius: 3px; 
}
label {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5;
}
label #btn {
    z-index: 1;
    left: 40px;
    top: 12px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1;
    left: -195px;
    top: 10px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;
}

#check:checked ~ .sidenav {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel {
    left: 195px;
}
#check:checked ~ main {
    margin-left: 250px;
}

#check:checked ~ nav {
    margin-left: 250px;
    padding-left: 10px;
}

@media screen and (max-width: 300px){
    
}