@import '../../asset/scss/variables.scss';

.cards {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5 ease-out;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}
// .loading {
//   background: $bg-gray-400;
// }


@media screen and (min-width: 52em) {
  .centered {
      max-width: 52em;
  }
}