@import './variables.scss';

.formitem {
    display: flex;
    flex-direction: column;
    label {
        color: $bg-gray-700;
        font-weight: 300;
        margin-right: 10px;
    }
    input,select,textarea {        
        box-sizing: border-box;
        padding: 10px;
        border-radius: 3px;
        border: none;
        background: $gray-200;
        color: $gray-600;
        margin: 5px 0 15px 0;
        width: 300px;
    }

    input:focus, select:focus, textarea:focus {
        box-sizing: border-box;
        background: $pure-white;
        border: 1px solid $gray-300;
        outline: none;
    }
    ::placeholder {
        color: $gray-600;
        font-weight: 500;
        line-height: 20px;
        font-size: 15px;
    }
    // select {
    //     box-sizing: border-box;
    //     padding: 10px;
    //     border: transparent;
    //     border-radius: 5px;
    //     background: $gray-200;
    //     color: $gray-600;
    //     margin: 10px 0 25px 0;
    // }
    // select:focus {
    //     height: 400px !important;
    // }
}


.button {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    background: $bg-gray-900;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.button:focus {
    outline: none;
}
.button:hover {
    // background-color: $active-link;
    transition: all 1s;
}

@media only screen and (max-width: 600px){
    input, select,textarea {
        width: 300px !important;
    }
    label {
        font-weight: 200;
    }
}
